# Windows 2022 Azure-only overrides
azure_location               = "eastus"
azure_resource_group         = "rg-image-factory"
azure_vm_size                = "Standard_D4s_v5"
azure_source_image_publisher = "MicrosoftWindowsServer"
azure_source_image_offer     = "WindowsServer"
azure_source_image_sku       = "2022-datacenter"
